<form action="/check" method="get">
	<input id="hostname" type="text" name="host" placeholder="yourdomain.tld"[% IF c.req.params.host %] pattern="([a-zA-Z0-9]+\.)+[a-zA-Z]+" value="[% c.req.params.host %]"[% END %] required>
	<input id="port" type="number" name="port" placeholder="443" min="1" max="65535"[% IF c.req.params.port %] value="[% c.req.params.port %]"[% END %]>
	<input type="submit">
</form>
